body{background-image: url(dream_work_4k-wide.jpg);
background-attachment: fixed;
background-size: cover}

a{font-size: 3vw;
    color: deepskyblue}

.pic2 img{position: absolute;width: 100%;top: 50vw;height: 50vw;box-shadow: 0.5vw 0vw 2vw 0.5vw}

ul{box-shadow: 0.5vw 0vw 2vw 0.5vw}



















